<div class="container">
  <h4>WELCOME TO THE secrete USER PAGE <%= @user.first_name + " " + @user.last_name %></h4>
  <form action="/logout" method="get">
    <input type="submit" value="logout">
  </form>
</div>